<launch>
	<!-- Cameras are given by device id, that is /dev/usb_cam$(id) -->
	<arg name="c1" doc="First camera id"/> 
	<arg name="c2" doc="Second camera id"/> 

	<node pkg="panopticon" type="panopticon_node" name="panopticon" output="screen" />

	<node pkg="ar_sys" type="multi_boards" name="camera$(arg c1)" ns="panopticon" output="log" >
		<remap from="/camera_info" to="/usb_cam$(arg c1)/camera_info" />
		<remap from="/image" to="/usb_cam$(arg c1)/image_raw" />

		<param name="image_is_rectified" type="bool" value="false"/>

		<param name="boards_config" type="string" value="$(find panopticon)/config/boards.yml"/>
		<param name="boards_directory" type="string" value="$(find panopticon)/config/boards"/>

		<param name="draw_markers" type="bool" value="true" />
		<param name="draw_markers_cube" type="bool" value="true" />
		<param name="draw_markers_axis" type="bool" value="true" />
	</node>  

	<!--
	<node pkg="ar_sys" type="single_board" name="board$(arg c2)" ns="panopticon" output="log" >
		<remap from="/camera_info" to="/usb_cam$(arg c2)/camera_info" />
		<remap from="/image" to="/usb_cam$(arg c2)/image_raw" />

		<param name="image_is_rectified" type="bool" value="false"/>
		<param name="marker_size" type="double" value="0.25"/>
		<param name="board_config" type="string" value="$(find panopticon)/config/board.yml"/>
		<param name="board_frame" type="string" value="/board$(arg c2)" />
		<param name="draw_markers" type="bool" value="true" />
		<param name="draw_markers_cube" type="bool" value="true" />
		<param name="draw_markers_axis" type="bool" value="true" />
	</node>  
	<-->


</launch>